{%  extends "myapp/base.html" %}

{% block content %}
{% for item in items %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <img src="{{item.image}}" 
        style ="height:300px; width:400px; object-fit: cover; box-shadow: 2px 2px 10px black; border-radius: 10px;" />
    </div>
    <div class ="col-md-2" style="margin-top:60px; font-family: cursive;font-size: 25;">{{item.item_name}}</div>
    <div class="col-md-2" style="margin-top:60px;">
        <button style="background-color: white; color: black; border-radius: 10px; padding: 7px;">
            <a href="{% url 'myapp:details' item.id %}">Details</a>
        </button>
    </div>
</div>
<br />
  
{% endfor %}
{% endblock %}